<!-- Side Widget -->
<div class="card my-4">
    <h5 class="card-header">Stats</h5>
    <div class="card-body">
        {% if browsers is not empty %}
            {% for item in browsers %}
            <p>{{ item.browse }}: {{ item.cnt }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>